.rl_feature {
	visibility: hidden
}

.klbar {
	border-bottom: 1px solid #e5e5e5;
	color: #ccc;
	font-family: helvetica, arial, sans-serif;
	position: relative
}

.klbar a {
	text-decoration: none
}

.appleft {
	background-color: #202020;
	float: left;
	height: 100%;
	position: relative;
	width: 102px
}

.klcar {
	font-size: 12px;
	list-style: none;
	margin-left: 166px;
	position: relative;
	width: 11500px
}

.klitem {
	display: inline-block;
	float: left;
	list-style: none;
	margin-right: 4px;
	position: relative;
	border-bottom: 0px solid #4285f4;
	-ms-transition: background .15s, border .15s;
	transition: background .15s, border .15s, padding .15s;
	padding-bottom: 4px;
}

.klitem.selected {
	background: #fff;
	border-bottom: 4px solid #4285f4;
	padding-bottom: 0;
	cursor: default
}

.lxcar.reselectable .klitem.selected {
	cursor: pointer
}

.klitem:hover {
	background: #fff
}

.klitem.klactive {
	background: #fff
}

.klic {
	background: #fff;
	margin-bottom: 6px;
	overflow: hidden
}

.klzc:not (.kxsluii ) .klic {
	margin-bottom: 8px
}

.kltat, .klmeta, .klstar, .klfact {
	font-weight: normal;
	margin-left: 4px;
	text-align: left
}

.kltat, .klfact {
	font-size: 13px;
	overflow: hidden;
	color: #fff;
	padding-top: 2px;
	text-shadow: 0 1px 0 #000
}

.klmeta {
	font-size: 11px;
	color: #999;
	padding-top: 2px
}

.klhlmeta {
	color: #4285f4
}

.kltra {
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.lxhdrtxt, .lxhdrbox {
	color: #eee;
	font-size: 18px
}

#lxhdr {
	margin-left: 166px;
}

#lx_ctls {
	display: table;
	margin-top: 6px;
	float: right;
	font-size: 0;
	padding-right: 28px;
	position: relative;
	transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 3
}

.lx_ctl {
	display: table-cell;
	padding-left: 10px
}

.lx_dk .lx_ctl .ksb {
	background: #222;
	background-image: -ms-gradient(linear, left top, left bottom, from(#555),
		to(#444));
	background-image: -ms-linear-gradient(top, #555, #444);
	background-image: linear-gradient(top, #555, #444);
	box-shadow: 0 1px 0 0 #222, inset 0 1px 0 0 rgba(254, 255, 254, 0.09);
	box-shadow: 0 1px 0 0 #222, inset 0 1px 0 0 rgba(254, 255, 254, 0.09);
	color: #ddd;
	border: none;
	border-radius: 2px;
	overflow: hidden
}

.lx_dk .lx_ctl .ab_button {
	cursor: pointer !important;
	-ms-transition: none;
	transition: none
}

.lx_dk .lx_ctl .ksb:hover {
	background-image: -ms-linear-gradient(top, #666, #555);
	background-image: linear-gradient(top, #666, #555);
	box-shadow: 0 1px 0 0 #111, inset 0 1px 0 0 rgba(254, 255, 254, 0.09);
	box-shadow: 0 1px 0 0 #111, inset 0 1px 0 0 rgba(254, 255, 254, 0.09);
	color: #eee
}

.lx_dk .lx_ctl .ab_button:hover {
	border: none
}

.lx_ctl .ksb:active, .lx_ctl .ksb.selected {
	background-image: -ms-linear-gradient(top, #DADADA, #FAFAFA);
	background-image: linear-gradient(top, #DADADA, #FAFAFA);
	background-image: -ms-gradient(linear, left top, left bottom, from(#DADADA),
		to(#FAFAFA))
}

.lx_dk .lx_ctl .ksb:active, .lx_dk .lx_ctl .ksb.selected {
	background-image: -ms-linear-gradient(top, #3F3F3F, #606060);
	background-image: linear-gradient(top, #3F3F3F, #606060);
	background-image: -ms-gradient(linear, left top, left bottom, from(#3F3F3F),
		to(#606060));
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.90), inset 0 0 0 1px
		rgba(255, 255, 255, 0.06);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.90), inset 0 0 0 1px
		rgba(255, 255, 255, 0.06);
	color: #eee !important
}

.lx_dk .lx_ctl .ksb:focus {
	box-shadow: 0 0 0 1px #4d90fe, inset 0 0 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: 0 0 0 1px #4d90fe, inset 0 0 0 1px rgba(255, 255, 255, 0.06)
}

.lx_dk .lx_ctl .ksb:focus.expanded {
	outline: none;
	outline-width: 0;
	box-shadow: none
}

.lx_dk .lx_ctl .ksb:hover .kxctl-dd-arrow {
	border-top-color: #eee
}

.lx_dk .lx_ctl .ksb.left {
	border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px
}

.lx_dk .lx_ctl .ksb.right {
	border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	margin-left: -1px
}

.kxctl-dd {
	background-color: #fff;
	border: 1px solid #cbc8b9;
	box-shadow: 0 1.5px 1px 0 rgba(130, 130, 130, 0.5);
	box-shadow: 0 1.5px 1px 0 rgba(130, 130, 130, 0.5);
	color: #555;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	padding: 5px 0;
	top: 100%
}

.kxctl-dd-arrow {
	border-color: #777 transparent;
	border-style: solid;
	border-top-color: #ddd;
	border-width: 4px 4px 0 4px;
	height: 0;
	position: absolute;
	right: 11px;
	top: 12px;
	width: 0
}

.lxhdrbox .kxctl-dd-arrow {
	margin-left: 7px;
	position: relative;
	right: auto
}

.kxctl-dd a:link {
	color: #555
}

.lx_imap {
	-ms-transition: 250ms ease-in-out opacity;
	position: absolute;
	z-index: 2
}

.klzc {
	margin-bottom: 5px;
	overflow: hidden;
	position: relative
}

.klzcr {
	background: rgba(255, 255, 255, .85);
	border-top: 1px solid rgba(255, 255, 255, .7);
	bottom: 0;
	position: absolute;
	width: 100%
}

#lxnores {
	color: #999;
	font-family: arial;
	font-size: 13px;
	height: 175px;
	padding-top: 10px;
	padding-left: 166px;
	position: relative
}

#lxnores a {
	color: #fff;
	cursor: pointer
}

#lxnores a:active {
	color: #dd4b39
}

.klarrl, .klarrr {
	background-repeat: no-repeat;
	bottom: 0;
	display: block;
	height: 20px;
	margin: auto 0;
	position: absolute;
	top: 0;
	width: 12px
}

.klarrl, .klarrr {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAuBAMAAADuP+XpAAAAFVBMVEUAAAAhISEhISEiIiIcHBwhISEhISHOkAG5AAAAB3RSTlMBQqr/FdSMTqZlxgAAAFhJREFUeAFjYFRgAAFhIzClbAzmuhqDuSzBMK4ZlJuAnQuloII4OQoQo6EWIawFOYJ0wCQAcbIhmAMzNgTMMXUAUslgDhsODpSCCuLgQg2DGg21CGot1BEAUewYkyF/jGUAAAAASUVORK5CYII=)
}

.klarrl {
	background-position: 0 -26px;
	left: 8px
}

.klarrr {
	background-position: 0 0;
	right: 8px
}

.kappbar {
	background: #fafafa;
	position: relative
}

.klnav, .rl_nav {
	cursor: pointer;
	height: 72px;
	position: absolute;
	width: 36px;
	z-index: 1
}

.klnav {
	background: rgba(255, 255, 255, .8);
	-ms-transition: background 0.15s, opacity 0.5s;
	transition: background 0.15s, opacity 0.5s
}

.rl_nav {
	background: #e5e5e5;
	bottom: 0;
	margin-bottom: auto;
	margin-top: auto;
	opacity: 0.8;
	top: 0
}

.rl_nav.rl_fades {
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s
}

#appbar .klnav:hover {
	background: rgba(255, 255, 255, .9);
}

.rl_nav:hover {
	opacity: 0.9;
}

.kappbar .klnav.klleft {
	margin-left: 0 !important
}

.klnav.klleft {
	border-bottom-right-radius: 36px;
	border-top-right-radius: 36px;
	box-shadow: 1px 0 2px rgba(0, 0, 0, .5);
	box-shadow: 1px 0 2px rgba(0, 0, 0, .5);
	left: 0
}

.klnav.klright {
	border-bottom-left-radius: 36px;
	border-top-left-radius: 36px;
	box-shadow: -1px 0 2px rgba(0, 0, 0, .5);
	box-shadow: -1px 0 2px rgba(0, 0, 0, .5);
	right: 0
}

.klnav.disabled, .rl_nav.disabled {
	cursor: default;
	opacity: 0;
}

.kxfade, .kxdisable {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000
}

.kxfade {
	background-color: #fff;
	opacity: .75
}

.kxdisable {
	opacity: 0
}

.mlo-c {
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px
		rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	overflow: hidden
}

.klzc {
	margin-bottom: 0px
}

.kltat, .klmeta, .klstar, .klfact {
	margin-left: 16px;
	margin-right: 16px;
	text-shadow: none;
	padding-top: 0px;
	line-height: 18px
}

.kltat, .klfact {
	color: #222;
	font-size: 13px
}

.klmeta {
	color: #757575;
	font-size: 13px
}

.lxhdrtxt, .lxhdrbox {
	color: #222
}

.lx_ctl {
	padding-left: 32px
}

.lx_ctl .ksb.ab_button {
	background: none;
	border: none;
	box-shadow: none;
	box-shadow: none;
	color: #555;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer
}

.lx_ctl .kxctl-c div:focus {
	outline: none
}

.lx_ctl .kxctl-dd-arrow {
	border-width: 5px 5px 0 5px;
	border-top-color: #555;
	right: 7px;
	top: 11px
}

#lxnores {
	color: #777
}

#lxnores a {
	color: #222
}

#lxhdr {
	font-size: 18px;
	font-weight: 400;
	min-height: 45px;
	padding-top: 8px;
	position: relative
}

#lxhdr._Duu {
	font-family: arial, sans-serif;
	font-size: 14px;
	height: 40px;
	line-height: 20px;
	min-height: 40px;
	padding-top: 0
}

.lxhdrbox {
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block
}

._IK {
	color: #999;
	display: inline-block;
	line-height: normal;
	max-width: 100%;
	vertical-align: middle
}

._RXk {
	color: #757575;
	margin-left: 48px;
	display: inline-block;
	vertical-align: top;
}

._p6l {
	top: 5px;
	right: 12px
}

._o6l {
	top: 8px;
	right: 24px
}

._oTp {
	position: absolute;
	right: -8px;
}

._pTp {
	line-height: normal
}

._wYp {
	color: #757575;
	padding-top: 1px;
}

a._pTp {
	color: #757575;
}

._oTp:hover ._IK {
	cursor: pointer;
	text-decoration: none;
	color: #222;
}

._Qwe ._p6l, .kappbar ._o6l {
	color: #fff;
	opacity: 1.0
}

.kxbcc {
	position: relative;
	z-index: 0;
	display: block;
	max-width: 100%;
	font-size: 18px;
	display: block;
	line-height: normal;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

.kxbcl .kxbc:hover {
	cursor: pointer;
	text-decoration: underline
}

#kxbcct {
	position: relative;
	-ms-transition: opacity 0.15s, transform 0.15s;
	transition: opacity 0.15s, transform 0.15s;
	z-index: -1
}

._Lbe {
	color: #999;
	display: inline;
	max-width: 100%
}

.kxbcl {
	color: #fff
}

._hch {
	display: inline;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 14px
}

._Nbe {
	display: inline-block;
	position: relative;
	top: 1px;
	background-repeat: no-repeat;
	background-size: auto 13px;
	height: 13px;
	margin: 0 8px;
	width: 8px;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaBAMAAABMRsE0AAAAD1BMVEVMaXGYmJiZmZmZmZmZmZmPnpHKAAAABXRSTlMAPPP/cAw1AG8AAAAtSURBVHgBY2AQZIAARiUBCEPIWBHCcDY2ggixGFNbCMFASFEugHA8wjtwDwIAZUMN82QO2DUAAAAASUVORK5CYII=)
}

.kxbcch {
	transform: translate3d(-18px, 0, 0);
	transform: translateX(-18px)
}

.kxbccm {
	position: relative;
	-ms-transition: opacity 0.15s, transform 0.15s;
	transition: opacity 0.15s, transform 0.15s
}

.kxbcch {
	opacity: 0
}

._Lbe {
	color: #222
}

.kxbcl {
	color: #757575
}

._tho {
	display: inline-block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 10px;
	height: 10px;
	margin: 0 6px;
	width: 6px;
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAaCAYAAAC+aNwHAAAAWUlEQVR4Ae3MMQqAQAxE0b3V9l5GbE0+eGwbW5WAAdnOAbsMpMv7LQf0uCYs8f5cV/EV9zni7mtiOQJsv0cqUhFgAc4hcJjZVDhXeJZxLB4DSHiMSPgdUfAN+iBfA1UUpREAAAAASUVORK5CYII=)
}

.kxbc {
	-ms-transition: opacity 0.075s;
	transition: opacity 0.075s
}

.kxbcl .kxbc:hover {
	text-decoration: none;
	color: #222
}

.kno-shr-ld {
	
}

.kno-shr-ld._JNk {
	opacity: 0.25
}

.klcc {
	-ms-user-select: none
}

._ffj ._bfj {
	transform: translateZ(0);
	transform: translateZ(0)
}

g-scrolling-carousel {
	display: block;
	position: relative;
}

._JTg {
	display: block;
	overflow-x: auto;
	overflow: hidden;
	overflow-x: hidden;
	position: relative;
	white-space: nowrap;
	transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

._JTg::-webkit-scrollbar {
	display: none
}

._bfj {
	display: inline-block
}

.kxsluii, .kxsluit {
	display: inline-block;
	vertical-align: middle
}

.kxsluit {
	height: 38px;
	margin-left: 4px
}

.kxsluit .kltat {
	font-size: 15px
}

.kxsluit .klmeta {
	font-size: 14px
}

.kxsluit .klstar {
	padding-top: 2px
}

.kltat {
	text-overflow: ellipsis;
}

.kltat span {
	white-space: nowrap
}

.klitem .badge {
	left: 5px;
	position: absolute;
	top: 5px
}

g-img {
	display: block
}

._WCg {
	display: block;
	border: 0;
	position: relative
}

.klitem-tr {
	-ms-transition: opacity ease-out 0.075s;
	transition: opacity ease-out 0.075s
}

._GCg {
	display: inline-block;
	white-space: normal;
}

._GCg {
	margin-bottom: 0px;
	overflow: hidden;
	-ms-transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1)
}

._GCg:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px
		rgba(0, 0, 0, 0.08);
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px
		rgba(0, 0, 0, 0.08)
}

._W6g {
	cursor: pointer;
	height: 72px;
	position: absolute;
	display: block;
	visibility: inherit;
	width: 36px;
	z-index: 1;
	bottom: 0;
	margin-bottom: auto;
	margin-top: auto;
	outline: none;
	opacity: 0.8;
	top: 0
}

._W6g.nb-fades {
	-ms-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s
}

._W6g:hover {
	opacity: 0.9;
}

._W6g:focus {
	outline: none
}

._W6g.nb-disabled, ._W6g.nb-disabled:hover {
	cursor: default;
	opacity: 0;
	visibility: hidden
}

._m7g {
	bottom: 0;
	display: block;
	margin: auto 0;
	position: absolute !important;
	top: 0
}

._W6g._Ggo {
	height: 48px;
	width: 48px;
	opacity: 0.9
}

._W6g._Ggo:hover {
	opacity: 1.0
}

._W6g._Ggo.nb-disabled, ._W6g._Ggo.nb-disabled:hover {
	opacity: 0
}

._W6g._Ggo:hover g-fab {
	color: #222 !important
}

._R6g._Ggo g-fab, ._S6g._Ggo g-fab {
	box-shadow: 0 7px 15px rgba(0, 0, 0, .2);
	cursor: pointer;
	height: 48px;
	width: 48px
}

._R6g._Ggo {
	left: 20px
}

._S6g._Ggo {
	right: 20px
}

._jAg {
	border-radius: 50%;
	cursor: default;
	display: block;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px
		rgba(0, 0, 0, 0.08), inset 0 0 0 0 rgba(0, 0, 0, 0.10), inset 0 0 0 0
		rgba(255, 255, 255, 0.50);
	z-index: 0
}

._jAg:focus {
	outline: none
}

._jAg ._HAg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 24px;
	height: 24px
}

._uqh {
	width: 56px;
	height: 56px
}